# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vscode/
.idea/

# NuGet Packages
*.nupkg
packages/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
